set define off;
create user SVC_EDFI_DEV identified by svc_edfi_dev
  default tablespace USERS
  temporary tablespace TEMP
  profile SERVICE;
-- Grant/Revoke role privileges
grant otpp_app_edfi to SVC_EDFI_DEV;

create user "SVC_EDFI_DEV@XXXX.COM"
  identified externally
  default tablespace USERS
  temporary tablespace TEMP
  profile SERVICE;
  
grant XXXX_app_edfi to "{{var_1}}@XXXX.COM";
grant XXXX_app_olf to "{{var_1}}@XXXX.COM";
grant XXXX_app_scd to "{{var_1}}@XXXX.COM";

create user "SVC_IISPRIMEDEV@XXXX.COM"
  identified externally
  default tablespace USERS
  temporary tablespace TEMP
  profile SERVICE;


